{% extends "szablon.html"%}
{% block tytul %}QUIZ - dodaj pytanie{% endblock %}
{% block h1 %}QUIZ - dodaj pytanie{% endblock %}

{% block tresc %}
   <form method = "POST">
   {{ form.csrf_token }}
   
   
   {{ form.pytanie.label }}<br>
   {{ form.pytanie(class = "form-control") }}<br>
   <br>
   {{ form.kategoria.label }}<br>
   {{ form.kategoria }}<br>
   <br>
   <label> Podaj odpowiedzi i zaznacz poprawną:</label>
   <ol>
    {% for o in form.odpowiedzi %}
       <li>{{ o }}</li>
    {% endlock %}
   </ol>
   
    <input type="submit" value="Prześlij">
    </form>
   
   </form>
{% endblock %}
