<!DOCTYPE html>
<html lang="pl">
<!--
   templates/lista.html
-->

<head>
<meta charset="utf-8" />
    <title>Aplikacja QUIZ – lista pytań</title>
    <style type="text/css">
        #menu li { display: inline; margin-left: 1em; }
    </style>
</head>

<body>
    <ul id="menu">
        <li><a href="{{ url_for('hello') }}">Strona główna</a></li>
        <li><a href="{{ url_for('lista') }}">Lista</a></li>
        <li><a href="{{ url_for('quiz') }}">Quiz</a></li>
    </ul>

    <h1>Aplikacja QUIZ – lista pytań</h1>
    
    <ol>
    {% for p in pytania %}
        <li>{{ p.pytanie }}</li>
    {% endfor %}
    </ol>
    
</body>
</html>
